@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: "Monocraft";
  src: url("asset/fonts/Monocraft/Monocraft.otf");
}

@font-face {
  font-family: "MaterialIcons";
  src: url("asset/fonts/MaterialIcons/MaterialIconsOutlined-Regular.otf");
}

:root {
  --fontBody: "IBM Plex Mono", "Menlo", "Noto Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --fontHeader: "Monocraft", monospace;
  --fontIcons: "MaterialIcons";
  --invert: 1;
}

.material-icon {
  font-family: var(--fontIcons);
  font-size: 1.4em;
}

/* basic elements */
* {
  box-sizing: border-box;
  scrollbar-color: #00000000 #00000000;
  /*scrollbar-width: thin;*/
}

::-webkit-scrollbar {
  /*width: 0.3em;*/
}

::-webkit-scrollbar-track {
  background: #00000000;
  margin-bottom: 0.75em;
}

::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border-radius: 1em;
}

:hover,
.visible-scrollbar {
  scrollbar-color: var(--scrollbar) #00000000;
}

:hover::-webkit-scrollbar-thumb,
.visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

body {
  font-family: var(--fontBody);
  font-size: 1em;
  line-height: 1.5;
  color: var(--fg-color);
  background: var(--bg-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

h1,
h2 {
  font-family: var(--fontHeader);
  line-height: 1em;
  margin: 10px auto;
}

h3,
h4 {
  font-family: var(--fontBody);
  font-weight: bold;
  line-height: 1em;
  margin: 10px auto;
}

/* basic structure */

/*.header {
  border: 1px dashed var(--header-border-color);
}*/

.header-center h2 {
  font-size: 200%;
}

div[class="header"] {
  height: min-content;
  border-width: 0 0 4px 0;
  border-style: double;
  border-color: var(--red);
  position: relative;
  padding: 10px;
}

div.sub-header {
  display: grid;
  width: 100%;
  align-items: center;
}

div.sub-header ul {
  list-style-type: none;
  margin: 20px;
  padding: 4px 0px;
  margin: 6px;
  column-count: 5;
  column-gap: 20px;
}

div.sub-header li {
  display: list-item;
  padding: 0px 6px;
  break-inside: avoid;
}

/* the main */

.main-content-top {
  border-width: 1px 4px 4px 1px;
  border-style: solid;
  border-color: var(--main-content-border-color);
}

div#main-content-top-content ul {
  list-style-type: none;
  margin: 20px;
  padding: 4px 0px;
  margin: 6px;
  column-count: 4;
  column-gap: 20px;
}

div#main-content-top-content li {
  display: list-item;
  padding: 0px 6px;
  break-inside: avoid;
}

#main-content-top-header {
  background-color: var(--main-content-border-color);
  padding: 2px 8px;
  color: var(--text-color-alt);
  margin-bottom: 8px;
}

div[class*="main-content-middle"] {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div[class*="main-content-middle"] ul {
  list-style-type: none;
  margin: 20px;
  padding: 4px 0px;
  margin: 6px;
  column-count: 2;
  column-gap: 10px;
}

div[class*="main-content-middle"] li {
  display: list-item;
  padding: 0px 6px;
  break-inside: avoid;
}

/* sections */

section {
  /*border: 1px solid;*/
  padding: 8px;
}

section.section {
  border-width: 1px 4px 4px 1px;
  border-style: solid;
}

section[id*="section-"]:not([id="section-01"]) h3 {
  display: block;
  color: var(--text-color-alt);
  padding: 10px 6px 6px 6px;
  margin: -8px -8px 16px -8px;
}

section[id*="section-"] h4 {
  display: block;
  border-bottom: 1px dashed;
  padding: 10px 8px 8px 8px;
  margin: 8px 8px 16px 8px;
}

.section#section-00 {
  border-color: var(--red);
}

section#section-00 h4 span {
  background-color: var(--red);
  border-bottom-color: var(--red);
}

section#section-00 h4 {
  border-bottom-color: var(--red);
}

.section#section-01 {
  border-width: 1px 4px 4px 1px;
  border-style: none;
}

section[id*="section-"] h4 span {
  color: var(--text-color-alt);
  padding: 4px 10px 0px 8px;
  margin: 4px -8px -0px -8px;
  line-height: 0.8em;
  border-bottom-style: solid;
  border-bottom-width: 8px;
}

section#section-01 h4 span {
  background-color: var(--orange);
  border-bottom-color: var(--orange);
}

section#section-01 h4 {
  border-bottom-color: var(--orange);
}

section#section-02 {
  border-color: var(--yellow);
}

section#section-02 h3 {
  background-color: var(--yellow);
}

section#section-02 h4 {
  border-bottom-color: var(--yellow);
}

section#section-02 h4 span {
  background-color: var(--yellow);
  border-bottom-color: var(--yellow);
}

section#section-03 {
  border-color: var(--green);
}

section#section-03 h3 {
  background-color: var(--green);
}

section#section-03 h4 {
  border-bottom-color: var(--green);
}

section#section-03 h4 span {
  background-color: var(--green);
  border-bottom-color: var(--green);
}

section#section-04 {
  border-color: var(--blue);
}

section#section-04 h3 {
  background-color: var(--blue);
}

section#section-04 h4 {
  border-bottom-color: var(--blue);
}

section#section-04 h4 span {
  background-color: var(--blue);
  border-bottom-color: var(--blue);
}

section#section-05 {
  border-color: var(--indigo);
}

section#section-05 h3 {
  background-color: var(--indigo);
}

section#section-05 h4 {
  border-bottom-color: var(--indigo);
}

section#section-05 h4 span {
  background-color: var(--indigo);
  border-bottom-color: var(--indigo);
}

section#section-06 {
  border-color: var(--violet);
}

section#section-06 h3 {
  background-color: var(--violet);
}

section#section-06 h4 {
  border-bottom-color: var(--violet);
}

section#section-06 h4 span {
  background-color: var(--violet);
  border-bottom-color: var(--violet);
}

section#section-07 {
  border-color: var(--lavender);
}

section#section-07 h3 {
  background-color: var(--lavender);
}

section#section-07 h4 {
  border-bottom-color: var(--lavender);
}

section#section-07 h4 span {
  background-color: var(--lavender);
  border-bottom-color: var(--lavender);
}

/* the sidebars */

.sidebar ul {
  list-style-type: inherit;
  margin: 10px 20px;
  padding: 0px 4px;
  column-count: 2;
  column-gap: 20px;
}

.sidebar li {
  display: list-item;
  padding: 2px 0px;
  break-inside: avoid;
  word-wrap: break-word;
}

div[class*="sidebox"]:not([class="sidebox-container"]) {
  border-width: 1px 4px 4px 1px;
  border-style: solid;
  padding: 4px 8px;
}

div[id*="sidebox-header"] {
  color: var(--text-color-alt);
  padding: 2px 8px;
  margin: -4px -8px;
}

div.sidebox-00 {
  border-color: var(--white);
}

div#sidebox-header-00 {
  background-color: var(--white);
}

div#sidebox-content-00 {
  display: flex;
  align-content: center;
  overflow: hidden;
  position: relative;
  height: 64px;
}

div.sidebox-01 {
  border-color: var(--lavender);
}

div#sidebox-header-01 {
  background-color: var(--lavender);
}

div.sidebox-02 {
  border-color: var(--violet);
}

div#sidebox-header-02 {
  background-color: var(--violet);
}

div.sidebox-03 {
  border-color: var(--indigo);
}

div#sidebox-header-03 {
  background-color: var(--indigo);
}

div.sidebox-04 {
  border-color: var(--blue);
}

div#sidebox-header-04 {
  background-color: var(--blue);
}

div.sidebox-05 {
  border-color: var(--green);
}

div#sidebox-header-05 {
  background-color: var(--green);
}

div.sidebox-06 {
  border-color: var(--yellow);
}

div#sidebox-header-06 {
  background-color: var(--yellow);
}

div.sidebox-07 {
  border-color: var(--orange);
}

div#sidebox-header-07 {
  background-color: var(--orange);
}

div.sidebox-08 {
  border-color: var(--red);
}

div#sidebox-header-08 {
  background-color: var(--red);
}

div.sidebox-09 {
  border-color: transparent;
}

#get-firefox {
  position: relative;
  padding: 20px;
}

article#get-firefox img {
  width: 256px;
  margin: auto;
  display: block;
  position: relative;
}

div.sidebox-10 {
  border-color: var(--green);
}

div#sidebox-header-10 {
  background-color: var(--green);
}

div#sidebox-content-10 {
  position: relative;
  padding: 30px 20px 10px 20px;
}

/* password generator  */

.wrapper-pwd-gen {
  margin: auto;
}

.wrapper-pwd-gen .input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  height: 53px;
  color: var(--green);
  font-family: var(--fontBody);
  font-weight: bold;
  background-color: transparent;
  font-size: 1.4em;
  letter-spacing: 0.2em;
  border: 1px solid var(--green);
  padding: 0 2.85rem 0 1rem;
}

.input-box span {
  position: absolute;
  right: 13px;
  cursor: pointer;
  line-height: 53px;
  color: var(--orange);
}

.input-box span:hover {
  color: var(--blue) !important;
}

.wrapper-pwd-gen .pass-indicator {
  width: 100%;
  height: 4px;
  position: relative;
  background: var(--black);
  margin-top: 0.75rem;
  border-radius: 25px;
}

.pass-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}

.pass-indicator#weak::before {
  width: 20%;
  background: var(--red);
}

.pass-indicator#medium::before {
  width: 50%;
  background: var(--yellow);
}

.pass-indicator#strong::before {
  width: 100%;
  background: var(--green);
}

.wrapper-pwd-gen .pass-length {
  margin: 1.56rem 0 1.25rem;
}

.pass-length .details {
  display: flex;
  justify-content: space-between;
}

.pass-length input {
  width: 100%;
  height: 5px;
  margin-top: 0.63rem;
  background: var(--black);
}

input[type="range"] {
  accent-color: var(--indigo);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

.pass-settings .options {
  display: block;
  list-style: none;
  /*flex-wrap: wrap;*/
  margin: 1rem auto auto auto;
}

.pass-settings .options .option {
  display: flex;
  margin-bottom: 1rem;
}

.options .option input {
  height: 16px;
  width: 16px;
  cursor: pointer;
  accent-color: var(--accent-color);
}

.options .option label {
  cursor: pointer;
  margin-left: 6px;
  align-content: center;
}

.wrapper-pwd-gen .generate-btn {
  appearance: none;
  width: 100%;
  color: var(--text-color-alt);
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--green);
  font-size: 1.06rem;
  font-weight: bold;
  padding: 0.94rem 0;
  margin: 0.94rem auto;
}

/* end password generator */

p#small-print {
  font-size: 0.8em;
  text-align: center;
  color: var(--ctp-mocha-overlay2-rgb);
}

/* the footer */

div.footer {
  border-width: 1px 0px 0px 0px;
  border-style: dashed;
  border-color: var(--violet);
  font-size: 0.8em;
}

/* date and time */

#timestamp-container {
  color: var(--green);
  width: max-content;
  padding: 4px;
  margin: auto;
}

span#time-date {
  font-size: 2em;
  font-weight: bold;
}

#dottime {
  animation-name: blink;
  animation-duration: 1s;
  animation-direction: linear;
  animation-iteration-count: infinite;
  animation-delay: -0.5s;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: -0.5s;
}

/* greeting's time */

.morning {
  color: var(--orange);
}

.afternoon {
  color: var(--yellow);
}

.evening {
  color: var(--indigo);
}

/* Weather */
#weather-container {
  align-items: center;
  position: relative;
  width: 160px;
  text-align: center;
  margin: auto;
  display: flex;
  column-gap: 20px;
}

#weather-symbol {
  flex: 1;
}

#weather-icon {
  height: 58px;
  display: list-item;
}

img#weather-icon {
  filter: invert(1);
}

#weather-info {
  flex: 1;
  font-size: 2em;
}

.fade-in-weather {
  opacity: 1;
  animation-name: fadeInWeatherOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

/* SEARCH REVAMPED */

#search-container {
  display: block;
  width: 60%;
  margin: auto;
  position: relative;
  padding: 0px;
}

#search {
  width: 100%;
  margin: 1.5em auto 2em auto;
  position: relative;
}

#searchbar {
  border: 1px solid var(--searcher-border-color);
  display: flex;
  background-color: transparent;
  height: 50px;
  padding: 0px 10px 0px 14px;
  overflow: hidden;
  align-items: center;
}

#search-favicon {
  --favicon-bing: url("asset/icons/favicon-bing.svg");
  --favicon-duckduckgo: url("asset/icons/favicon-duckduckgo.svg");
  --favicon-google: url("asset/icons/favicon-google.svg");
  --favicon-presearch: url("asset/icons/favicon-presearch.svg");
  --favicon-yahoo: url("asset/icons/favicon-yahoo.svg");
  --favicon-yandex: url("asset/icons/favicon-yandex.svg");
  --faviconSearch: var(--favicon-duckduckgo);
  /*filter: invert(0.4);*/
}

#search-favicon {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0px 6px 0px 0px;
  position: relative;
  background-image: var(--faviconSearch);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#searchInput {
  width: 100%;
  flex-grow: 2;
  border: none;
  background-color: transparent;
  font-family: var(--fontBody);
  font-size: 1.1em;
  color: inherit;
}

#searchbar:focus-within {
  border: 1px solid var(--accent-color);
  background-color: var(--searcher-bg-color);
}

input:focus {
  outline: none;
}

button#search-button,
button#clear-field {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.4em;
}

button#clear-field {
  color: var(--red);
}

button#search-button {
  color: var(--green);
}

form input:placeholder-shown + button#clear-field {
  opacity: 0;
  pointer-events: none;
}

#suggestions {
  background-color: var(--searcher-bg-color);
  width: 100%;
  max-height: 35vh;
  overflow: auto;
  position: absolute;
  top: 100%;
  margin: auto;
  display: none;
  color: var(--fg-color);
  z-index: 4;
  text-align: left;
  padding: 0px 0px 10px 0px;
}

#suggestions hr {
  margin: -15px 0px 20px 0px;
  opacity: 0.5;
}

#suggestions p {
  cursor: pointer;
  margin: 0px;
  padding: 10px 10px 10px 45px;
}

#suggestions p:hover {
  background-color: var(--article-bg-color) !important;
}

/* LAST.FM NOW PLAYING WIDGET */

div#nowPlaying-container {
  transition: all 4s cubic-bezier(1, 0.835, 0, 0.945);
  padding: 0;
  display: flex;
  flex: 1;
  width: 100%;
  margin: auto;
}

.playing-info {
  margin-left: 50px;
  align-content: center;
}

#playingInfo p.playing-now,
#playingInfo .playing-not {
  font-size: 1.2em;
  text-transform: uppercase;
  animation: scroll-left 30s linear infinite;
  -webkit-animation: scroll-left 30s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position: relative;
}

span.info-connector {
  text-transform: lowercase;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0.1em;
}

#playingInfo p.playing-not {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-transform: lowercase;
  color: var(--green);
  font-weight: bold;
  text-align: center !important;
}

.playing-not a {
  text-decoration: underline;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* SCROLL TEXT  */

@-webkit-keyframes scroll-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* BARS EQUALIZER */

.bars {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 24px;
  position: absolute;
  bottom: 4px;
}

.bars .bar {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: oscillator;
  animation-timing-function: linear;
  width: 10px;
  padding: 3px;
  margin-right: 4px;
  background-color: var(--green);
  appearance: none;
  border: 0px none;
}

.bars .bar.bar1 {
  animation-duration: 400ms;
}

.bars .bar.bar2 {
  animation-duration: 700ms;
}

.bars .bar.bar3 {
  animation-duration: 200ms;
}

@-webkit-keyframes oscillator {
  0% {
    height: 20%;
    opacity: 0.5;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

@keyframes oscillator {
  0% {
    height: 20%;
    opacity: 0.5;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

/* END EQUALIZER */

/* animations */

@-webkit-keyframes blink {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(1);
  }
}

@keyframes blink {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(1);
  }
}

/* random quotes */

#quote-container {
  padding: 30px;
  margin: 10px;
}

.quote {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.author {
  margin: 10px;
  text-align: right;
  font-size: 25px;
  font-style: italic;
  font-family: cursive;
}

/* media queries */

@media only screen and (max-width: 720px) {
  body {
    margin: 20px;
  }

  .container,
  .header,
  .sub-header,
  .main-row,
  .sidebar,
  .sidebox-container,
  .footer {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    order: 1;
  }

  .main-row {
    order: 2;
  }

  .footer {
    order: 3;
  }

  div#main-content-top-content ul,
  .sub-header ul,
  div[class*="main-content-middle"] ul,
  .sidebar ul {
    column-count: 2 !important;
  }

  #search-container {
    width: 90%;
  }

  #suggestions {
    /*max-height: 143px;*/
    height: 20vh;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1020px) {
  body {
    margin: 20px;
  }

  .container,
  .header,
  .sub-header,
  .main-row,
  .sidebar,
  .sidebox-container,
  .footer {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    order: 1;
  }

  .main-row {
    order: 2;
  }

  .footer {
    order: 3;
  }

  div#main-content-top-content ul,
  .sub-header ul,
  div[class*="main-content-middle"] ul,
  .sidebar ul {
    column-count: 3 !important;
  }

  #search-container {
    width: 80%;
  }

  #suggestions {
    /*max-height: 143px;*/
    height: 20vh;
  }
}
